<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset = "utf-8">
    <title> create domain </title>

    <body>

        <script type="text/javascript">
            function checkname(){
                var flag = 0;
                var name = document.created.name.value;

                {% for item in domains %}
                    if (name == "{{ item.name }}"){
                        flag = 1;
                    }
                {% endfor %}

                if (flag == 1){
                    alert('Duplicated name!')
                    return false;
                }

                return true;
            }
        </script>

        <h1> Create Domain </h1>

        <form name=created action="/create" onsubmit="return checkname()" method="POST">
            <p> domain name  <input type=text name=name /> </p>
            <p> number of cpu <select name=ncpu />
                                <option value=1> 1cpu </option>
                                <option value=2> 2cpu </option>
                              </select>
            </p>
            <p> os type <select name=ostype />
                                <option value=i686> i686 </option>
                                <option value=x86_64> x86_64 </option>
                        </select>
            </p>
            <p> memory <select name=mem />
                                <option value=1048576> 1GB </option>
                                <option value=524288> 0.5GB </option>
                        </select>
            </p>
            <p> persistency <select name=pers />
                                <option value=0> transient </option>
                                <option value=1> persistent </option>
            </p>
            <p><input type=submit value=create /></p>
    </body>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        $(document).ready(function(){
            console.log('hello');
        });
    </script>
</html>
