<!DOCTYPE html>

<html lang = "en">
<head>
    <meta charset = "utf-8">
    <title> create domain </title>

    <body>

        <h1> Create Domain </h1>

        <form name=created action="/create" method=POST>
            <p> domain name  <input type=text name=name /> </p>
            <p> number of cpu <select name=ncpu />
                                <option value=1> 1cpu </option>
                                <option value=2> 2cpu </option>
                              </select>
            </p>
            <p> os type <select name=ostype />
                                <option value=i686> i686 </option>
                                <option value=x86_64> x86_64 </option>
                        </select>
            </p>
            <p> memory <select name=mem />
                                <option value=1048576> 1GB </option>
                                <option value=2097152> 2GB </option>
                                <option value=4194304> 4GB </option>
                        </select>
            </p>
            <p> persistency <select name=pers>
                                <option value=0> transient </option>
                                <option value=1> persistent </option>
            <input type=submit value=create></p>
    </body>
</html>

